In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('marital status.CSV')

In [3]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [4]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [5]:
#here is some null value so we have to handle this , status ke handle korar jonno meadian lagbe karon ekhane shudu 2 type er value ache
#but null jodi age e hoto tobe amra mean use kortam ..

handle = df['status'].median()

In [6]:
handle

0.0

In [7]:
df.status = df.status.fillna(df['status'].median())

In [8]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [9]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [10]:
x = df[['age']]

In [11]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [12]:
y = df['status']

In [13]:
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.70,random_state = 1)

In [16]:
xtrain
#xtest
#ytrain
#ytest

    age
9    22
15   29
8    29
12   22
11   20
5    33

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
model = LogisticRegression()

In [19]:
#ekhane train koraiesi  
model.fit(xtrain,ytrain)

LogisticRegression()

In [20]:
#ekhane value diye predict kortesi 
model.predict(xtest)

array([1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1.])

In [21]:
#checking my accuracy
model.score(xtest,ytest)

0.8571428571428571

In [22]:
model.predict_proba(xtest)

array([[1.17815516e-01, 8.82184484e-01],
       [9.99608272e-01, 3.91728185e-04],
       [8.90333160e-01, 1.09666840e-01],
       [4.08466295e-01, 5.91533705e-01],
       [7.81198218e-01, 2.18801782e-01],
       [9.65211995e-04, 9.99034788e-01],
       [9.99109703e-01, 8.90297152e-04],
       [9.97977868e-01, 2.02213221e-03],
       [2.51787634e-02, 9.74821237e-01],
       [2.19207736e-03, 9.97807923e-01],
       [7.81198218e-01, 2.18801782e-01],
       [9.76731713e-01, 2.32682870e-02],
       [6.10918973e-01, 3.89081027e-01],
       [4.08466295e-01, 5.91533705e-01]])